body{
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
    font-family: fantasy;
}

h1{
    color: blue;
    text-align: center;
}
h2{
    color: chocolate;
}
h3{
    color: brown;
}
h4{
    color: darkgreen;
}
li{
    color: rgb(34, 17, 114);
}

img{
    width: 460px;
    height: auto;
}
#kool{
    width: 70%;
    height: 600px;
    overflow: auto;
}