body{
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
    font-family: fantasy;
}

h1{
    color: blue;
    text-align: center;
}
h2{
    color: chocolate;
}
h3{
    color: brown;
}
h4{
    color: darkgreen;
}
ol.music{
    height: 800px;
    float: left;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(97, 221, 230);
    width: 50%;
}

  li {
    
    color: rgb(34, 17, 114);

  }
  

img{
    width: 400px;
    height: auto;
}
#kool{
   
}