body{
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    color: blue;
    text-align: center;
}
h2{
    color: chocolate;
}
h3{
    color: brown;
}
h4{
    color: darkgreen;
}
li{
    color: indigo;
}

img{
    width: 460px;
    height: auto;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}